# Battlenet Oauth credentials for the API
BLIZZARD_API_CLIENT_ID=<Add your Blizzard client ID here>
BLIZZARD_API_CLIENT_SECRET=<Add your Blizzard client secret here>

# Battlenet Oauth configuration
BLIZZARD_OAUTH_CALLBACK_URL=/oauth/bnet/callback
REDIRECT_URL_AFTER_LOGIN=http://localhost:3001/