www.raidsimp.com {
    redir https://raidsimp.com{uri}
}

raidsimp.com {
    route /api/* {
        encode zstd gzip
        uri strip_prefix api
        reverse_proxy backend:3000
    }

    route {
        encode zstd gzip
        try_files {path} /index.html
        file_server
    }
}


