raidsimp.com

www.raidsimp.com {
    redir https://raidsimp.com{uri}
}

route /api/* {
      uri strip_prefix api
      reverse_proxy backend:3000
}

route {
      try_files {path} /index.html
      file_server
}
